.twoHand_container {
    .ant-list-vertical .ant-list-item-meta-title{
        font-size: 18px;
        font-weight: bolder;
    }

    .ant-btn-primary {
        background-color: #7e7468;
        border-color: #7e7468;
    }
}