.footer_container {
    margin: 50px 0;
    text-align: center;
    line-height: 30px;

    span {
        margin: 0 10px;
    }

    .row_2,
    .row_3 {
        color: #999;
        font-size: 13px;
    }
}