.tabcard_container {
    .name {
        padding-left: 10px;
        line-height: 44px;
        height: 44px;
        font-size: 22px;
        font-weight: bolder;
        color: #333;
        background-color: #e8e8e8;
    }
}